@font-face {
  font-family: "Bungee Shade";
  src: local("Bungee Shade"), url("BungeeShade-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  src: local("Lato"), url("Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LatoItalic";
  src: local("Lato-Italic"), url("Lato-Italic.ttf") format("truetype");
}

:root {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Bungee Shade", Impact, sans-serif;
  text-transform: uppercase;
}

h1 {
  width: 70%;
}

p,
li {
  margin: 0.5em auto;
}

.i {
  font-family: "LatoItalic", sans-serif;
}

main {
  background-image: url(./zane-lee-nRiRAGqnpl0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(18, 18, 14, 0.7);
  content: "";
}
